.tabla{

  color: white  ;
  font-family: 'Times New Roman', Times, serif;
  font-size: 24px;
  }
  table{
    background-color:#35A8B6  ;
  }
  div{
    border-collapse: collapse ;
  }
  .table-active{
  background-color: white ;
  color: #0F8E9D  ;
  font-family: 'Times New Roman', Times, serif;
  font-size: 24px;
  }
  
